@import "tailwindcss";

@theme {
  --text-*: initial;
  --text-base: 14px;
   /* Color */
  --color-*: initial;
  --color-black: #0b0903;
  --color-white: #ffffff; 
  /* Green color */
  --color-green: #3a8959;
  --color-green-100: #3a8959;
  --color-green-200: #07ba4c14;

  --font-inter: var(--font-inter), sans-serif;
  --font-montserrat: var(--font-montserrat), sans-serif;
  --font-spaceGrotesk: var(--font-space-grotesk), sans-serif;

}

body {
  @apply bg-black text-base;
}
